<div class="form-group">
  <input
    type="{{ type }}"
    class="form-control"
    [class.is-invalid]="ngControl.invalid && ngControl.touched"
    [formControl]="ngControl.control"
    placeholder="{{ label }}"
  />
  <div class="invalid-feedback" *ngIf="ngControl.control.errors?.required">
    Please enter your {{ label }}
  </div>
  <div class="invalid-feedback" *ngIf="ngControl.control.errors?.minlength">
    {{ label }} cannot have fewer than {{ ngControl.control.errors.minlength['requiredLength']}} characters
  </div>
  <div class="invalid-feedback" *ngIf="ngControl.control.errors?.maxlength">
    {{ label }} cannot have more than {{ ngControl.control.errors.maxlength['requiredLength']}} characters
  </div>
  <div class="invalid-feedback" *ngIf="ngControl.control.errors?.isMatching">
    Passwords do not match
  </div>
</div>
